@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root{
  --w-column: 200px;
}
body{
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-family: Poppins;
  & *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;
  }
}
[id*="zoid-paypal-buttons-uid"]{
  width: 500px !important;
}
.work-sans {
  font-family: 'Work Sans', sans-serif;
}
      
#menu-toggle:checked + #menu {
  display: block;
}

.hover\:grow {
  transition: all 0.3s;
  transform: scale(1);
}

.hover\:grow:hover {
  transform: scale(1.02);
}

